language: python

matrix:
  include:
    - python: 2.7
      dist: trusty

    - python: 3.4
      dist: trusty

    - python: 3.5
      dist: trusty

    - python: 3.6
      dist: trusty

    - python: 3.7
      dist: xenial

    - python: nightly
      dist: xenial

  allow_failures:
    - python: "nightly"

install:
  - python setup.py install

before_script:
  - pip install flake8
  - pip install pytest
  - pip install codecov

script:
  - timeout 30s python -c "import tests; tests.test_circular_etymology()"
  - coverage run -m pytest tests.py

after_success:
  - codecov

