[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
treelib = "*"
colorful = "*"
six = "*"

[dev-packages]
pylint = "*"
"flake8" = "*"
requests = "*"
clint = "*"

[requires]
python_version = "3.6"
