[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
treelib = "*"
colorful = "*"
six = "*"

[dev-packages]
pylint = "*"
"flake8" = "*"
requests = "*"
clint = "*"
pytest = "*"
black = "==22.3.0"

[requires]
python_version = "3.6"

[scripts]
test = "pytest test_ety.py"
format = "black ."

[pipenv]
allow_prereleases = true
